# Auto detect text files and perform LF normalization
* text=auto

# Exclude HTML and HTM from language statistics
*.html linguist-vendored
*.htm linguist-vendored
UpgradeLog.htm linguist-detectable=false
